/*
  window.matchMedia("(prefers-color-scheme: dark)").matches

  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 20px;
  }
  
  .dark-mode {
    --bg-color: #121212;
    --text-color: #f1f1f1;
  }
*/

body{
    margin: 0;
    padding: 0;
}


:root{
    --main:#2196F3;
}
/* Load fonts */
@font-face {
    font-family: "ralewayBlack";
    src: url(../assets/fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "ralewayRegular";
    src: url(../assets/fonts/Raleway-Regular.ttf);
}
/* En Loading fonts */
h1,h2,h3{
    font-family:"ralewayBlack" ;
}
*{
    font-family: "ralewayRegular";
    box-sizing: border-box;
}

.base{
    font-size: 16px;
    line-height: 24px;
    font-family: "ralewayRegular";
}

.h1{
    font-size: 24px;
    font-family: "ralewayBlack";
}

/* Form Input styles */

/* Buttons */

button{
    padding:16px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    background-image: linear-gradient(90deg,#21e2f3, #2196F3 );
    border: none;
    outline: none;
    color: white;
    box-shadow:0px 5px 9px #2195f333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

button:hover{
    opacity: 0.7;
}

button:active{
    transform: scale(1.04);
}

.secondBtn{
    padding:16px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    border: 1px solid var(--main);
    color:  var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.secondBtn:active{
    transform: scale(1.04);
}
/*  */

.formItem .label {
    font-size: 12px;
    margin-bottom: 6px;
}

.formItem {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 8px;
}

.formItem input {
    outline: none;
    border: none;
    width: 100%;
}

input,textarea{
    font-size: 16px;
}
/* End form input styles */

.createCashFlow{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding:16px;
    transition: 0.25s;
}

.formCreateCashflow{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.cashflowType{
    display: flex;
    gap:16px;
}

.cashflowType div{
    flex:1;
    padding:16px;
    text-align: center;
    border-radius: 8px;
    transition: 0.25s;
}

.cashflowType div.activated{
    background-color: var(--main);
    color:#fff;
}

.row{
    display: flex;
    align-items: center;
}
.g16{
    gap:16px;
}

.collections{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:16px;
    position: fixed;
    left: 0;
    top:0;
    background-color: #fff;
    height: 100vh;
    transition: 0.25s;
}

.inactive{
    transform: translateX(-50px);
    opacity: 0;
    pointer-events: none;
    height: 0px !important;
    padding: 0px !important;
    overflow: hidden;
}

.collectionItems{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.collectionItem{
    padding: 16px;
    background-color: #f6f6f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_main{
    color: var(--main);
}

.back{
    padding: 16px;
    border-bottom: 1px solid #e7e7e7;
    position: sticky;
    top:0;
    background-color: #fff;
}

.emptyCollections{
    display: flex;
    flex-direction: column;
    gap:8px;
    padding: 32px;
    align-items: center;
}

#selectedCollectionTextViewId{
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.f1{
    flex:1;
}

.p8{
    padding: 8px;
}

#removeSelectedCollection.active{
    opacity: 1;
}

#removeSelectedCollection.disable{
    opacity: 0;
}

.home{
    display: flex;
    transition: 0.25s;
    flex-direction: column;
}

.title_logo{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 16px;
    border-bottom: 1px solid #e3e3e3;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.logoSettings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;
}

.yearStatView{
    transition: 0.25s;
}

.addCashflowButton{
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: 0.25s;
    z-index: 1;
}

.statBtn{
    position: fixed;
    bottom: 107px;
    right: 38px;
    transition: 0.25s;
    z-index: 1; 
}

.listCashflows{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap:8px;
}

.cahsflowItemList{
    padding:16px;
    display: flex;
    flex-direction: column;
    gap:4px;
    border-radius: 4px;
    background-color: #f6f6f6;
    position: relative;
    user-select: none;
    -webkit-touch-callout: none;
}

.priceDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceDate .date{
    font-size: 12px;
    color:grey;
}
.priceDate  .price{
    font-family: "ralewayBlack";
}
.gain{
    color:var(--main);
}

.cahsflowItemList .options{
    display: flex;
    gap:16px;
    transition: 0.25s;
    position: absolute;
    right: 16px;
    top:16px;
}

.cahsflowItemList .options img{
    width: 36px;
}

.currency{
    padding:32px;
    display: flex;
    flex-direction: column;
    gap:16px;
    transition: 0.25s;
}

.aic{
    align-items: center;
}

.g8{
    gap:8px;
}

.globalStat{
    display: flex;
    justify-content: space-between;
}

.globalStat .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;
}

.globalStat .item div:first-child{
    font-size: 11px;
    color:grey;
}

.globalStat .item div:last-child{
    font-size: 14px;
    font-weight: bold;
}

.jcsb{
    justify-content: space-between;
}

.dayStatCashflow{
    display: flex;
    flex-direction: column;
    gap:8px;
    transition: 0.25s;
}

.dayStats{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.dayStatItem{
    padding: 16px;
    border:1px solid #ebebeb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.dayStatItemTitle{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.dayStatDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dayStatDate img{
    transition: 0.25s;
}

.yearStatTitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:16px;
    border-bottom: 1px solid #e3e3e3;
    gap:16px;
    position: sticky;
    top:0;
    background-color: #fff;
    z-index: 1;
}

.yearStatTitle h3{
    margin: 0;
    text-align: center;
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
}

.jcc{
    justify-content: center;
}

.yearStat{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:8px
}

hr{
    width: 100%;
    opacity: 0.2;
}

.yearStatMonthsView{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.dateToggle{
    font-size: 12px;
    padding:8px;
    border:1px solid #aaa;
    border-radius: 8px;
    opacity: 0.6;
}

.homeCollection{
    display: flex;
    overflow: auto;
    padding: 16px 0px;
}

.homeCollectionItem{
    color:white;
    background-color: var(--main);
    padding: 16px 32px;
    border-radius: 8px;
    margin-left: 16px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.homeCollection .homeCollectionItem:last-child{
    margin-right: 16px;
}

.homeCollectionItem div:first-child{
    opacity: 0.6;
}

.homeCollectionItem div:last-child{
    font-weight: bold;
    font-size: 18px;
}